
input {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
}


.btn {
    border: none;
    background-color: #1e3a8a;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}