main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 80px;
    padding: 40px 20px;
}

.logo {
    flex: 1;
    text-align: center;
}

.logo .tittle {
    color: #1e3a8a;
    margin-bottom: 30px;
}

.logo .descricao {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}

.form-container {
    flex: 1;
    max-width: 450px;
}

.title2 {
    color: #1e3a8a;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: left;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

form a {
    display: block;
    text-align: center;
    color: #1e3a8a;
    text-decoration: none;
    margin-top: 15px;
    font-size: 14px;
}

.tab.active {
    background-color: #1e3a8a;
    color: white;
}
input {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
}

.logo img {
    max-width: 400px;
    width: 100%;
    height: auto;
}


.btn {
    border: none;
    background-color: #1e3a8a;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2563eb;
}