<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Uny+Perto</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <h1>Uny+Perto</h1>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="#">Item3</a></li>
            <li><a href="#">Item4</a></li>
            <li><a href="#">Item5</a></li>
        </ul>
        <div class="loginbtn"> <a href="#">Login/Registrar</a></div>
    </header>
    <main>
        <section class="imageminicial">
            <img src="../assets/bus.png" alt="exemplo de onibus fic">
        </section>
        <section class="textoinicial">
            <h2>Saúde mais perto de Você</h2>
            <button>Veja onde estamos</button>
        </section>
        <section class="previaservicos">
            <div class="cards">
                <div class="card">Serviços</div>
                <div class="card">Agenda</div>
                <div class="card">Localização</div>
                <div class="card">Quem Somos</div>
            </div>
        </section>
        <section class="locprev">
            <div class="loctext">
                <h2>
                    Onde Estamos Agora
                </h2>
                <button>Ver Mapa</button>
            </div>
            <div class="mapaprev"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1136.7707379841536!2d-48.28200548156058!3d-18.91297154832129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1758829936710!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </section>
    </main>
    <footer>

    </footer>

</body>

</html>