<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/styles/styles.css">
    <title>Login/Cadastro</title>
</head>
<body>
    <main>
        <section class="logo">
            <h1 class="tittle">ÔNIBUS MÉDICO MÓVEL</h1>

            <div>
                <img src="" alt="">
            </div>

            <p class="descricao">Saúde mais perto de você</p>
        </section>

        <section>
            <h2 class="title2">Entrar no sistema</h2>
            <form action="">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">

            <div>
            <input type="checkbox">
            <p class="descricao">Lembrar-me</p>
            </div>

            <button class="btn">Entrar</button>

            <a href="#">Esqueceu a senha?</a>

            </form>
        </section>
    </main>
</body>
</html>