<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ônibus Médico Móvel</title>
    <link rel="stylesheet" href="../src/styles/login.css">
</head>
<body>
    <main class="container">
        <section class="painel-esquerdo">
            <a href="index.html" class="btn-voltar">Voltar ao site</a>
            
            <h1 class="titulo-principal">ÔNIBUS MÉDICO MÓVEL</h1>
            <img src="../image/ChatGPT Image 28 de set. de 2025, 20_22_00.png" alt="Ônibus Médico">
            <p class="descricao">Saúde mais perto de você</p>
        </section>
        
        <section class="painel-direito">
            <h2 class="titulo-secundario">BEM-VINDO DE VOLTA</h2>
            <p class="subtitulo">É bom ver você novamente! Por favor, faça o login na sua conta.</p>
            
            <form>
                <label>Usuário</label>
                <input type="text" placeholder="Seu usuário">
                
                <label>Senha</label>
                <input type="password" placeholder="Sua senha">
                
                <div class="opcoes">
                    <label class="checkbox">
                        <input type="checkbox">
                        Lembrar meu acesso
                    </label>
                    <a href="#" class="link">Esqueceu a senha?</a>
                </div>
                
                <button type="submit">ENTRAR</button>
                
                <p class="texto-cadastro">
                    Ainda não tem uma conta? <a href="cadastro.html" class="link">Cadastre-se</a>
                </p>
            </form>
        </section>
    </main>
</body>
</html>