<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Serviços</title>
    <link rel="stylesheet" href="../src/styles/servicos.css">
</head>

<body>
    <header>
        <nav>
            <h1>Uny + Perto</h1>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="nav-list">
                <li><a href="../index.html">Início</a></li>
                <li><a href="#">Área do Profissional</a></li>
                <li><a href="#">Convênios</a></li>
                <li><a href="#">Resultados</a></li>
                <li><a href="login.html" class="login-btn">Login/Cadastrar</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="titulo-pagina">Serviços</h1>

        <section>
            <div class="card">
                <div class="servico-card">
                    <img src="../image/ChatGPT Image 28 de set. de 2025, 20_22_00.png" alt="">
                    <h3>Vacinas</h3>
                    <p>Legenda sobre vacinas</p>
                    <a href="#" class="btn">Ver Vacinas</a>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
